<h1>All our Flats(<%=@flats.count %>)</h1>

<div>
  <% @flats.each do |flat| %>
  <div>
    <h3><%= flat.name %></h3>
    <p><%= flat.address %></p>
    <p>N of guests: <%= flat.number_of_guests%></p>
    <p>£ <%= flat.price_per_night%></p>
    <%= link_to 'More info', flat_path(flat) %>
    <%= link_to 'Edit', edit_flat_path(flat) %>
    <%= button_to 'Remove', flat_path(flat), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
  <%end%>

</div>
