<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://picsum.photos/id/10/1800/1400');">
  <div class="container">
    <h1>Simple Airbnb</h1>
    <%= link_to 'Add a new Flat', new_flat_path, class: 'btn btn-success' %>
  </div>
</div>



<div class="container">

  <h1>All our Flats(<%=@flats.count %>)</h1>

    <div class="cards">
      <% @flats.each do |flat| %>
      <div class='card'>
        <h3><%= flat.name %></h3>
        <p><%= flat.address %></p>
        <p>N of guests: <%= flat.number_of_guests%></p>
        <p>£ <%= flat.price_per_night%></p>
        <div class="buttons">
        <%= link_to 'More info', flat_path(flat), class: 'btn btn-primary border-radius' %>
        <%= link_to 'Edit', edit_flat_path(flat), class: 'btn btn-light border-radius' %>
        <%= link_to 'Remove', flat_path(flat), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger border-radius' %>

        </div>
      </div>
      <% end %>
    </div>
</div>
