<div class="container">

    <div class="show-card p-5 mt-5">
      <div>
      <h1><%= @flat.name %></h1>
      <p><%= @flat.address %></p>
    </div>

    <div>
      <h3>A bit more about this flat...</h3>
      <p><%= @flat.description %></p>
    </div>

    <div>
      <h3>Details</h3>
      <p>Guests: <%= @flat.number_of_guests %></p>
      <p>£ <%= @flat.price_per_night %></p>
    </div>

    <div class="buttons">
      <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_flat_path(@flat), class: 'icon-edit' %>
      <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, flat_path(@flat), method: :delete, data: { confirm: "Are you sure?" }, class: 'icon-trash' %>
    </div>
  </div>
</div>
